<div class="content-body">
    <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F113%2F975%2Foriginal%2Fmedical-free-vector-background-with-heart-monitor.jpg&f=1&nofb=1">

    <mat-card class="login-successful-card">
        <mat-card-content style="color:black; position: absolute; bottom: 45%; left: 20%;">
            <h2 style="font-size:60px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">LOGIN SUCCESSFUL!</h2>
        </mat-card-content>
    </mat-card>

</div>