.register-card{
  position:absolute;
  max-width: 610px;
  height:380px;
  top: 30%;
  left: 27%;
    
  background: white;
}

.example-full-width {
  width: 100%;
}

.register-button{
  bottom: 80%;
  top:20px;
  left: 43%;
  width:90px;  
  height:40px;
}

::ng-deep .mat-card{
    .mat-card-title{
        color:black;
    }
}

::ng-deep .mat-select-panel {
    background-color: rgb(97, 199, 151);
}

::ng-deep .mat-form-field {

    .mat-input-element {
        color: black;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
    .mat-select-value{
        color:black;
    }
    .locations-panel{
        color:green;
    }
}
