<div class="container">
    <img  src="../../assets/images/med.jpg">
    <div class="btn">
        <mat-card class="cardHighlight"><a href="/home-page/#gastro" >Gastroenterology</a></mat-card>
        <mat-card class="cardHighlight"><a href="/home-page/#opht">Ophthalmology</a></mat-card>
        <mat-card class="cardHighlight"><a href="/home-page/#sexualHealth">Sexual Health</a></mat-card>
    </div>
</div>
<hr>


<div class="content">
<div class="row1">

<article class="StandardContent">
    
<h1 id="gastro"> Gastroenterologists are doctors who investigate, diagnose, treat and prevent all gastrointestinal (stomach and intestines) and hepatological (liver, gallbladder, biliary tree and pancreas) diseases.</h1>

<p>All specialists are competent at upper gastrointestinal (GI) <a title="Examination of a body cavity using an endoscope, which is a flexible or rigid tube with a small camera and light. Operations can also sometimes be carried out by passing instruments into the endoscope.
    " class="lexicon-term">endoscopy</a>. Most will be trained in lower GI <a title="Examination of a body cavity using an endoscope, which is a flexible or rigid tube with a small camera and light. Operations can also sometimes be carried out by passing instruments into the endoscope.
    " class="lexicon-term">endoscopy</a> (<a title="A endoscopic procedure that allows the examination of the lining of the rectum and the lower part of the colon. A long flexible tube is inserted, which has a camera and light at one end (known as an endoscope).
    " class="lexicon-term">flexible sigmoidoscopy</a> and <a title="A procedure allowing the examination of the colon using a thin flexible tube with a light and camera at one end (known as an endoscope).
    " class="lexicon-term">colonoscopy</a>). Some will have had additional training in hepatobiliary <a title="Examination of a body cavity using an endoscope, which is a flexible or rigid tube with a small camera and light. Operations can also sometimes be carried out by passing instruments into the endoscope.
    " class="lexicon-term">endoscopy</a> (<a title="Endoscopic retrograde cholangiopancreatography (ERCP) is technique where a thin flexible tube with a light and camera is inserted via the mouth.It is mainly used to diagnose and treat bile duct and pancreatic duct conditions.
    " class="lexicon-term">ERCP</a>) or small bowel <a title="Examination of a body cavity using an endoscope, which is a flexible or rigid tube with a small camera and light. Operations can also sometimes be carried out by passing instruments into the endoscope.
    " class="lexicon-term">endoscopy</a> (wireless capsule <a title="Examination of a body cavity using an endoscope, which is a flexible or rigid tube with a small camera and light. Operations can also sometimes be carried out by passing instruments into the endoscope.
    " class="lexicon-term">endoscopy</a> or enteroscopy). Most will participate in acute gastroenterology admissions and manage a broad range of gastrointestinal disease, either in outpatients or following admission.
</p>

<p>Gastroenterologists treat conditions such as:</p>

<ul><li>gastrointestinal bleeding</li>
    <li>gastrointestinal cancer</li>
    <li>anaemia – a condition where the haemoglobin the blood (a pigment that carries oxygen) is below normal levels</li>
    <li>inflammatory bowel disease, eg Crohn’s disease (inflammation of the lining of the digestive system), ulcerative colitis (inflammation and ulceration of the lining of the rectum and colon)</li>
    <li>short bowel syndrome</li>
    <li>jaundice – a condition where the skin yellows due to an accumulation of bilirubin the blood and tissues</li>
    <li>management of alcoholic, viral hepatitis (Inflammation of the liver caused by a virus) and autoimmune liver disorders (where the body attacks its own cells)</li>
    <li>diverticulitis - inflammation of the diverticula (small pouches) in the intestine</li>
    <li>gastroenteritis</li>
    <li>hepatitis</li>
</ul>

<p>Common procedures/interventions</p>

<p>These include:</p>

<ul><li>diagnostic and therapeutic upper and lower gastrointestinal <a title="Examination of a body cavity using an endoscope, which is a flexible or rigid tube with a small camera and light. Operations can also sometimes be carried out by passing instruments into the endoscope.
    " class="lexicon-term">endoscopy</a></li>
    <li>small bowel <a title="Examination of a body cavity using an endoscope, which is a flexible or rigid tube with a small camera and light. Operations can also sometimes be carried out by passing instruments into the endoscope.
    " class="lexicon-term">endoscopy</a></li>
    <li>endoscopic retrograde cholangiopancreatography (<a title="Endoscopic retrograde cholangiopancreatography (ERCP) is technique where a thin flexible tube with a light and camera is inserted via the mouth.It is mainly used to diagnose and treat bile duct and pancreatic duct conditions.
    " class="lexicon-term">ERCP</a>) – an endoscopic technique mainly used to diagnose and treat bile duct and pancreatic duct conditions</li>
    <li>endoscopic <a title="A procedure that uses high frequency sound waves to produce images of body structures. Can also be used to provide treatment or assist with the healing process.
    " class="lexicon-term">ultrasound</a> (EUS)</li>
    <li>intestinal and liver <a title="A sample of cells or tissue is removed from the body and tested to help exclude or establish a diagnosis such as cancer.
    " class="lexicon-term">biopsy</a></li>
    <li><a title="Puncture of the wall of a body cavity by a hollow needle in order to draw off excess fluid or to obtain diagnostic material (eg abdomen or chest).
    " class="lexicon-term">paracentesis</a> (puncture of the wall of a cavity using a hollow needle)</li>
    <li>insertion of <a  title="The provision of carbohydrate, fat and proteins via intravenous administration (feeding).
    " class="lexicon-term">parenteral nutrition</a> line (intravenous feeding lines)</li>
    <li>planning and aftercare of patients undergoing liver transplant</li>
</ul>
</article> 












<hr>
<article class="StandardContent">
    
    <h1 id="opht">Ophthalmology is the study of medical conditions relating to the eye. Ophthalmologists are doctors who specialize in the medical and surgical treatment of this organ.</h1>
      
    <p>A general practice doctor may refer someone to an ophthalmologist if they show symptoms of cataracts, eye infections, optic nerve problems, or other eye conditions.

        In this article, we look at what ophthalmologists do, including the types of conditions that they treat, the procedures they perform, and when a person might see this specialist.
    </p>
    
    <p >What is an ophthalmologist?</p>
    
    <img class="center" src="../../assets/images/opht.jpg">

    <p>An ophthalmologist is a medical doctor who specializes in diagnosing and treating eye-related conditions.

        To practice in the United States, ophthalmologists must complete:
    </p>
    
    <ul>
        <li>4 years of college and a medical degree</li>
        <li>a 1 year postgraduate clinical year</li>
        <li>at least 36 months of residency training that focuses on ophthalmology</li>
        <li>certification with the American Board of Ophthalmology, which involves written and oral exams</li>
    </ul>

    <p>Some ophthalmologists undergo a year or two of fellowship training specializing in one of
         the many subspecialties of ophthalmology, such as:
     </p>
    
     <ul>
         <li>glaucoma</li>
         <li>the cornea</li>
         <li>the retina</li>
         <li>uveitis</li>
         <li>refractive surgery</li>
         <li>pediatrics</li>
         <li>neuro-ophtalmology</li>
         <li>ocular oncology</li>
     </ul>

     <p>Subspecialist ophthalmologists have usually completed training that allows them to work on eye conditions that are complex, involve a specific part of the eye, or affect certain groups of people. They also train more extensively than 
         regular ophthalmologists to perform 
         extremely intricate surgeries on delicate parts of the eye.</p>
    </article> 








    <hr>
<article class="StandardContent">
    
    <h1 id="sexualHealth">There are many types of health including physical health, mental health, spiritual health, cultural health, social health, financial health, environmental health, etc. Plus all these types of health can impact each other. For instance, if you are trying to prevent pregnancy and are able to access the birth control you need (physical health), this may help to create a more positive mood (emotional health), which may also positively impact your sense of sexual confidence and sexual self-esteem (sexual health).</h1>
      
    <p>Sexual health is as valuable as any other type of health. How important it 
        is will be different for each person. Sometimes depending on where you are in the 
        world and your upbringing, sexual health may not be as recognized as other types of 
        health and there may even be shame, embarrassment, fear, and confusion with sexual health. 
        This is very common as there, unfortunately, can be a lot of shame attached to things associated
        with “sex”. For example, it might feel more comfortable talking about a common cold or flu with
        family,friends or a doctor than it might be to talk about questions around sexual health</p>
    
    <p >What influences Sexual Health?</p>

    <p>How we define sexual health will be different for each person. The reason is that sexual health is
     influenced by many personal and social factors such as:
    </p>
    
    <ul>
        <li>Our values and beliefs </li>
        <li>Upbringing</li>
        <li>Culture</li>
        <li>Indigenous Status</li>
        <li>Our personal experiences</li>
        <li>Societal expectations</li>
        <li>Legal and/or sexual rights</li>
    </ul>

    <p>Think about what factors influence your sexual health? What messages have you been given about sexual health
         from…(if applicable)…..your family? friends? society? culture? religion? spirituality? What are some of your
          own values and beliefs?
     </p>
    
     <p>How we experience our sexual health is also part of how we experience the world. For example, there are many
          factors that health researchers have identified that can impact our health including sexual health. 
          These are known as the ‘social determinants of health’ and include how health is affected by income, 
          education, employment, childhood development, food, housing, health services, gender, race, disability,
          Indigenous status, social marginalization, and social services.</p>
    </article>

</div>



<button class="btnScrollToTop" id="btnScrollToTop" (click)="onEdit()">
    <i class="material-icons">arrow upward</i>
</button>

</div>

