<div class="content-body">
    <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F113%2F975%2Foriginal%2Fmedical-free-vector-background-with-heart-monitor.jpg&f=1&nofb=1">

    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="myForm" class="example-form">

                <mat-form-field class="example-full-width">
                    <input id="emailLogin" type="text" formControlName="emailLogin" matInput placeholder="Email"
                        required>
                    <mat-error *ngIf="emailLogin">{{getErrorMessageRequiredEmailLogin()}}</mat-error>
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <input matInput id="passwordLogin" [type]="hide ? 'password' : 'text'"
                        formControlName="passwordLogin" placeholder="Password" required>
                    <mat-icon [ngStyle]="{'color':'black'}" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                        'visibility'}}</mat-icon>

                    <mat-error *ngIf="passwordLogin">
                        <div *ngIf="getErrorMessageRequiredPasswordLogin()!=true">
                            {{getErrorMessageRequiredPasswordLogin()}}
                        </div>
                    </mat-error>

                    <mat-error *ngIf="passwordLogin">
                        <div *ngIf="getErrorMessageStrengthPasswordLogin()!=true">
                            {{getErrorMessageStrengthPasswordLogin()}}
                        </div>
                    </mat-error>

                    <mat-error *ngIf="passwordLogin">
                        <div *ngIf="getErrorMessageLengthPasswordLogin()!=true">
                            {{getErrorMessageLengthPasswordLogin()}}
                        </div>
                    </mat-error>

                </mat-form-field>

                <mat-checkbox class="checkbox" [checked]="checked" (click)="onClickRememberMe()">Remember me
                </mat-checkbox>

                <mat-card-actions>
                    <button [disabled]="myForm.invalid" (click)="onLogin(emailLogin?.value, passwordLogin?.value)"
                        class="login-button" mat-raised-button color="accent">Login</button>
                </mat-card-actions>

            </form>

        </mat-card-content>
    </mat-card>

</div>